.input {
  border-color: #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}
.button {
  background-image: linear-gradient(to bottom, #4caf50, #3e8e41);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-image: linear-gradient(to bottom, #3e8e41, #4caf50);
}

.button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.h {
  color: black;
}
.Coach {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;

  border-radius: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  position: relative;
}
