.atheletes {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;

  border-radius: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  position: relative;
}
.input {
  border-color: #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}
.button {
  background-image: linear-gradient(to bottom, #4caf50, #3e8e41);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-image: linear-gradient(to bottom, #3e8e41, #4caf50);
}

.button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.h {
  color: black;
}
.AddDocumentButton {
  display: flex;
  flex-direction: column;

  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.AddDocumentButton h2 {
  margin-top: 0;
}

.AddDocumentButton form {
  display: flex;
  flex-direction: column;

  padding: 20px;
}

.AddDocumentButton label {
  margin-bottom: 10px;
}

.AddDocumentButton input,
.AddDocumentButton select,
.AddDocumentButton textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.AddDocumentButton input[type="file"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
}

.AddDocumentButton button[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.AddDocumentButton button[type="submit"]:hover {
  background-color: #3e8e41;
}

.AddDocumentButton ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.AddDocumentButton li {
  margin-bottom: 10px;
}
.custom-file-input {
  /* Style the custom file input button */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.custom-file-input:hover {
  background-color: #e0e0e0;
}

.custom-file-input:active {
  background-color: #d0d0d0;
}

.custom-file-input::-webkit-file-upload-button {
  /* Style the file upload button in webkit browsers */
  -webkit-appearance: button;
  font: inherit;
}

.custom-file-input::-ms-browse {
  /* Style the file upload button in IE */
  display: none;
}
