.button1 {
  background-color: #33a5ff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  border-radius: 10px;
}
.button1:hover {
  background-color: #33beff;
}
.photo img {
  margin: 100px;
  border-radius: 10px;
  max-width: 1000px; /* set maximum width to 300px */
  max-height: 1000px;
}
.photog {
  height: 90vh;
  width: 100px;
  height: 100px;
  margin: 20px;
  border-radius: 20px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  opacity: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}
